.rodo-modal {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: fixed;
    z-index: 16000002; // has to be more than zopim chat overlay
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: visibility .4s, opacity .4s ease;
    &.active {
        opacity: 1;
        visibility: visible;
        transition: visibility .4s, opacity .4s ease;
    }
    &__inner {
        padding: 0;
        vertical-align: middle;
        display: table-cell;
        margin: 0;
        &__content {
            background: #fff;
            width: 540px;
            height: auto;
            margin: 0 auto;
            position: relative;
            min-height: 300px;
            padding: 25px 30px;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            box-sizing: border-box;
            &__header {
                color: #4a4a4a;
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            &__description {
                color: #4a4a4a;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.1px;
                margin-bottom: 25px;
            }
            &__policy {
                color: #666666;
                font-size: 11px;
                line-height: 20px;
                font-weight: 400;
                max-height: 300px;
                box-sizing: border-box;
                overflow-y: auto;
                padding: 0 10px 0 0;
                margin-bottom: 40px;
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    border: 3px solid #d8d8d8;
                }
                &::-webkit-scrollbar-track {
                    border: 3px solid transparent;
                    background-color: #fbfbfb;
                    background-clip: content-box;
                }
            }
            &__buttons {
                display: flex;
                justify-content: space-between;
                font-size: 14px;

                &__disagree {
                    width: 215px;
                    height: 48px;
                    border-radius: 4px;
                    background-color: #fbfbfb;
                    text-align: center;
                    line-height: 40px;
                    font-weight: 400;
                    color: #8b8b8b;
                    cursor: pointer;
                }
                &__agree {
                    width: 215px;
                    font-weight: 600;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 4px;
                    text-align: center;
                    color: #ffffff;
                    background-color: #2d2d2d;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .rodo-modal__inner__content {
        width: 95vw;
        padding: 15px;
        &__header {
            line-height: 22px;
            margin-bottom: 15px;
        }
        &__description {
            line-height: 18px;
            font-size: 12px;
            margin-bottom: 15px;
        }
        &__policy {
            margin: 0 0 20px 0;
            padding: 0 10px 0 0;
        }
        &__buttons {
            flex-wrap: wrap;
            &__agree{
                order: 1;
                margin-bottom: 10px;
                width: 100%;
            }
            &__disagree {
                order: 2;
                width: 100%;
            }
        }
    }
}