{% load i18n %}

<div>
    <div id="rodoModal" class="rodo-modal" style="visibility: hidden; opacity: 0;">
        <div class="rodo-modal__inner">
            <div class="rodo-modal__inner__content">
                <!--TODO TRESC CONENTU Z PROJEKTU-->
                <div class="rodo-modal__inner__content__header">{% trans 'Droga Użytkowniczko, Drogi Użytkowniku!' %}</div>
                <div class="rodo-modal__inner__content__policy">
                    <div class="rodo-modal__inner__content__description">
                        {% blocktrans %}
                            Przed skorzystaniem z serwisu, który dla Ciebie przygotowaliśmy, czujemy się w obowiązku
                            aby poinformować cię o kilku kwestiach technicznych.<br/>
                            W celu zapewnienia najlepszego doświadczenia z korzystania z serwisu możemy dostosowywać
                            treści oraz wyświetlać reklamy na podstawie twoich poprzednich aktywności.<br/>
                            Ma to na celu ułatwienie Tobie szybszego dotarcia do poszukiwanych informacji oraz
                            interesujących Ciebie ofert. Tego typu profilowanie nie ma wpływu na ofertę,
                            jaką widzisz/otrzymujesz na stronie, służy jedynie prezentowaniu w pierwszej kolejności
                            treści, które mogą być dla Ciebie bardziej interesujące.<br/>
                            W związku z tym prosimy o wyrażenie zgody na stosowanie narzędzi do profilowania celem
                            dostarczania optymalnych treści dla Twoich poszukiwań.
                        {% endblocktrans %}
                    </div>
                    {{ html_project_content }}
                </div>
                <div class="rodo-modal__inner__content__buttons">
                    <div id="rejectRodo" class="rodo-modal__inner__content__buttons__disagree">
                        {% trans 'Nie teraz' %}
                    </div>
                    <div id="acceptRodo" class="rodo-modal__inner__content__buttons__agree">
                        {% trans 'Zgadzam się' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            function getCookie(cname) {
                var name = cname + '=';
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return '';
            }

            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = 'expires=' + d.toUTCString();
                document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
            }
            var isAccepted = getCookie('is_rodo_accepted');
            var cookieExist = isAccepted.length;
            if (!(isAccepted !== '0' || isAccepted !== '1') && cookieExist !== 0 ) {
                setCookie('is_rodo_accepted', '');
            }
            isAccepted = getCookie('is_rodo_accepted');
            cookieExist = isAccepted.length;

            if ( cookieExist === 0 ) {
                var modalElement = document.getElementById('rodoModal');
                var acceptRodo = document.getElementById('acceptRodo');
                acceptRodo.style.backgroundColor = '{{ hex_color }}';
                var rejectRodo = document.getElementById('rejectRodo');
                modalElement.style.visibility = 'visible';
                modalElement.style.opacity = '1';
                acceptRodo.addEventListener('click', function (e) {
                    modalElement.style.visibility = 'hidden';
                    modalElement.style.opacity = '0';
                    setCookie('is_rodo_accepted', '1', 356 * 20);
                }, false);
                rejectRodo.addEventListener('click', function (e) {
                    modalElement.style.visibility = 'hidden';
                    modalElement.style.opacity = '0';
                    setCookie('is_rodo_accepted', '0', 7);
                }, false);
            }
        });
    </script>
</div>
